@charset "UTF-8"

@charset "UTF-8"


:root{

} /*primeiro comando não funciona*/


*{
    margin: 0px;
    padding: 0px;
   
}  /*Configurações Gerais*/

html, body{
   background-color: darkgray;
   min-height: 100vh;

} /*Configurações comuns html e body*/


header{
    background-color: black;
    color: white;
    text-align: center;
    
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps ; /*primeiras letras maiúsculas maiores*/
}

header > p{
    padding-bottom: 50px;
    
}

a{
    color: white;
    text-decoration: none; /*tira o sublinhado*/
    font-weight: bolder;
}

a:hover{
    text-decoration: underline; /*quando passa o mouse fica sublinhado o link*/
}


section{
    padding-top: 10vh;
    padding-bottom: 10vh; /*espaço entre as estrofes, ganhando rolagem para o efeito paralax*/
    line-height: 2em; /*espaçamento dupla entre as letras*/
    padding-left: 30px;
}


section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgba(51, 51, 51);
    color: white;
}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.452);
    width: 400px;
}






footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}
